Package: com.imnotsatan.randomtimetext
Name: Random Time Text
Depends: firmware (>= 12.0), mobilesubstrate, preferenceloader, org.thebigboss.libcolorpicker
Architecture: iphoneos-arm
Description: Random Time
Maintainer: ImNotSatan\Test
Author: ImNotSatan\Test
Section: Tweaks
Version: 0.0.5
Installed-Size: 352
